#footer {
  height: 6.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../images/hero.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom bottom;
}
