#testimonial {
  width: 100%;
  margin: 5rem 0;

  .testimonial {
    &__side {
      width: 100%;

      @include breakpoint(md) {
        margin-bottom: 5rem;
      }
    }
    &__name {
      @extend .text-name;
      @extend .color-black;
      margin: 0;
    }

    &__body {
      @extend .text-body1;
      @extend .color-black;
      margin: 1.5rem 0 0;
      &--bold {
        font-weight: 700;
      }
    }
  }
}
