#together {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .together {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__main {
      @extend .text-big-hash;
      @extend .color-black;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;

      padding-left: 4.5rem;

      @include breakpoint(xl) {
        padding-left: calc(4.5vw + 0.5rem);
      }

      @include breakpoint(sm) {
        padding-left: 2.25rem;
      }
      &:before {
        position: absolute;
        content: "";
        width: 4rem;
        height: 1em;
        background: url(../images/hash.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        left: 0;

        @include breakpoint(xl) {
          width: 4.5vw;
        }

        @include breakpoint(sm) {
          width: 2rem;
        }
      }
    }

    &__float {
      @extend .text-hash;
      @extend .color-black20;
      position: absolute;

      &--1 {
        @extend .together__float;
        left: 14rem;
        bottom: 2rem;

        @include breakpoint(lg) {
          left: 2rem;
        }

        @include breakpoint(sm) {
          bottom: 1rem;
        }
      }

      &--2 {
        @extend .together__float;
        top: 1rem;
        transform: rotate(-2.27deg);
      }
      &--3 {
        @extend .together__float;
        right: 17rem;
        bottom: 2rem;
        transform: rotate(-2.35deg);

        @include breakpoint(lg) {
          right: 2rem;
        }

        @include breakpoint(sm) {
          bottom: 1rem;
        }
      }
    }
  }
}
