// Enter all variables here. Use default css variables rather than scss variables:
// https://codyhouse.co/blog/post/css-custom-properties-vs-sass-variables

:root {
  --color-black: #000;
  --color-off-black: #010101;
  --color-black20: #979797;
  --color-white: #fff;
  --color-gray: #fafafa;
  --color-black10: #e5e5e5;
}
